name: SSH Pull

on:
  push:
    branches:
      - main
env: 
        SSH_KEY: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
        
    - name: SSH into Dev Server and Pull Changes
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASSWORD }}
        envs: SSH_KEY
        script: |
          eval "$(ssh-agent -s)"
          echo "$SSH_KEY" | tr -d '\r' | ssh-add -
          cd /var/fms_nextjs/
          git pull
